{% extends 'mediabrowser/base.html' %}
{% load i18n %}

{% block content %}
    {% include "mediabrowser/includes/asset-listing.html" %}
{% endblock %}


{% block footer %}
    <div id="ButtonBar">
        <a id="InsertFile" href="#" onclick="insertIntoEditor(selectedAssetUrl)">Insert</a> 
        <script> 
            function insertIntoEditor(url) { 
                const quill = window.CheditoEditors['{{ widget.attrs.id }}']; 
                const range = quill.getSelection(true); 
                quill.insertEmbed(range.index, 'image', url); 
                quill.setSelection(range.index + 1); 
                // Close modal after insert 
                document.getElementById('mediaBrowserModal').style.display = 'none'; 
            }
        </script>
        {% if can_delete %}<a id="DeleteFile" class="inactive button" href="#">{% trans "Delete" %}</a>{% endif %}
    </div>    

    {% if can_delete %}
    <div id="ConfirmDeleteDialog" title="{% trans 'Delete this file?' %}">
        <p>{% trans "Are you sure you would like to delete this file:" %}</p>
        <p id="FileToBeDeletedContent"></p>
        <form action="{% url 'mediabrowser-delete' %}" method="post" id="AssetDeletionForm">
            {% csrf_token %}
            <input type="hidden" name="asset_id" id="FileIdToBeDeleted">
            <input type="submit" value="{% trans 'Delete' %}">
            <a href="#" class="ui-dialog-cancel">{% trans "Cancel" %}</a>
        </form>
    </div>
    {% endif %}
{% endblock %}
